.chat-main
  .chat-main__group-info
    .chat-main__group-info__group
      .chat-main__group-info__group__group-name
        = @group.name
      .chat-main__group-info__group__member
        Member:
        - @group.users.each do |user|
          = user.name
    .chat-main__group-info__edit-btn
      = link_to edit_group_path(@group) do
        Edit

  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "chat-main__message-form"}, local: true do |f|
      .chat-main__message-form__contents
        = f.text_field :content, class: 'chat-main__message-form__contents__message', placeholder: 'type a message'
        = f.label :image, class: 'chat-main__message-form__contents__photo' do
          = icon('far', 'image', class: 'fa-image')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'chat-main__message-form__send'